In [1]:
import utils

In [2]:
df = utils.read_csv(years=["2014", "2015", "2016", "2017", "2018"])

In [3]:
df.shape

(22077, 226)

In [4]:
df.head()

,Stock,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,PRICE VAR [%],Class,Year
460,A,4.048000e+09,0.0395,2.072000e+09,1.976000e+09,358000000.0,1.199000e+09,1.557000e+09,419000000.0,110000000.0,...,-0.4615,0.0121,0.0270,-0.3838,0.0623,0.0127,Healthcare,4.179246,1,2014
4300,A,4.038000e+09,-0.0025,1.997000e+09,2.041000e+09,330000000.0,1.189000e+09,1.519000e+09,522000000.0,66000000.0,...,-0.0575,-0.3085,-0.2139,-0.0048,-0.0782,-0.0083,Healthcare,13.194947,1,2015
8452,A,4.202000e+09,0.0406,2.005000e+09,2.197000e+09,329000000.0,1.253000e+09,1.582000e+09,615000000.0,72000000.0,...,-0.0148,0.0421,0.0400,0.1505,-0.0030,0.0538,Healthcare,45.350940,1,2016
13261,A,4.472000e+09,0.0643,2.063000e+09,2.409000e+09,339000000.0,1.229000e+09,1.568000e+09,841000000.0,79000000.0,...,0.0788,0.0811,0.1527,0.0562,0.0304,-0.0192,Healthcare,0.717881,1,2017
18242,A,4.914000e+09,0.0988,2.227000e+09,2.687000e+09,385000000.0,1.374000e+09,1.759000e+09,928000000.0,75000000.0,...,0.1096,0.0136,-0.0517,-0.1054,0.1357,0.1180,Healthcare,30.976102,1,2018

In [5]:
df[df["Stock"] == "VIPS"]

,Stock,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,PRICE VAR [%],Class,Year
1,VIPS,3.734148e+09,1.1737,2.805625e+09,9.285226e+08,1.083303e+08,3.441414e+08,7.939267e+08,1.345959e+08,1.214869e+07,...,NaN,NaN,NaN,NaN,1.6484,1.7313,Consumer Defensive,-25.512193,0,2014
3809,VIPS,6.193685e+09,0.6587,4.669038e+09,1.524648e+09,1.658481e+08,5.223879e+08,1.205660e+09,3.189877e+08,1.321245e+07,...,0.2144,0.1279,0.2946,0.0281,0.5309,0.5179,Consumer Defensive,-21.637010,0,2015
7929,VIPS,8.148496e+09,0.3156,6.190740e+09,1.957756e+09,2.251378e+08,6.880959e+08,1.567877e+09,3.898789e+08,1.226710e+07,...,0.0128,0.1706,0.5109,-0.0139,0.3575,0.3172,Consumer Defensive,4.363319,1,2016
12726,VIPS,1.102060e+10,0.3525,8.557810e+09,2.462794e+09,2.733452e+08,8.201852e+08,2.056136e+09,4.066575e+08,1.245995e+07,...,0.4764,0.5889,1.5821,0.3805,0.2141,0.1920,Consumer Defensive,-56.320000,0,2017
17723,VIPS,1.223212e+10,0.1099,9.761936e+09,2.470183e+09,2.895650e+08,8.559521e+08,2.119805e+09,3.503781e+08,2.311780e+07,...,-0.2616,0.0981,0.0276,0.1032,0.0593,0.0436,Consumer Defensive,160.000010,1,2018

In [6]:
df.columns[-2]

'Class'

In [7]:
utils.write_csv(df=df, filename="Cleaned_Financial_Data.csv")

In [8]:
df = utils.read_csv()

In [9]:
df.head(20)

,Stock,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,PRICE VAR [%],Class,Year
460,A,4.048000e+09,0.0395,2.072000e+09,1.976000e+09,358000000.0,1.199000e+09,1.557000e+09,4.190000e+08,1.100000e+08,...,-0.4615,0.0121,0.0270,-0.3838,0.0623,0.0127,Healthcare,4.179246,1,2014
4300,A,4.038000e+09,-0.0025,1.997000e+09,2.041000e+09,330000000.0,1.189000e+09,1.519000e+09,5.220000e+08,6.600000e+07,...,-0.0575,-0.3085,-0.2139,-0.0048,-0.0782,-0.0083,Healthcare,13.194947,1,2015
8452,A,4.202000e+09,0.0406,2.005000e+09,2.197000e+09,329000000.0,1.253000e+09,1.582000e+09,6.150000e+08,7.200000e+07,...,-0.0148,0.0421,0.0400,0.1505,-0.0030,0.0538,Healthcare,45.350940,1,2016
13261,A,4.472000e+09,0.0643,2.063000e+09,2.409000e+09,339000000.0,1.229000e+09,1.568000e+09,8.410000e+08,7.900000e+07,...,0.0788,0.0811,0.1527,0.0562,0.0304,-0.0192,Healthcare,0.717881,1,2017
18242,A,4.914000e+09,0.0988,2.227000e+09,2.687000e+09,385000000.0,1.374000e+09,1.759000e+09,9.280000e+08,7.500000e+07,...,0.1096,0.0136,-0.0517,-0.1054,0.1357,0.1180,Healthcare,30.976102,1,2018
180,AA,1.314700e+10,0.0457,1.054800e+10,2.599000e+09,95000000.0,3.830000e+08,2.353000e+09,2.460000e+08,3.090000e+08,...,NaN,NaN,NaN,NaN,0.1047,-0.0567,Basic Materials,-37.203411,0,2014
3998,AA,1.119900e+10,-0.1482,9.039000e+09,2.160000e+09,69000000.0,3.530000e+08,2.227000e+09,-6.700000e+07,2.700000e+08,...,-0.2192,-0.1214,NaN,-0.3421,-0.2737,-0.0783,Basic Materials,22.046441,1,2015
8135,AA,9.318000e+09,-0.1680,7.877000e+09,1.441000e+09,33000000.0,3.560000e+08,1.360000e+09,8.100000e+07,2.430000e+08,...,-0.0102,0.0200,-0.4012,5.4222,-0.5217,0.0085,Basic Materials,86.853968,1,2016
12939,AA,1.165200e+10,0.2505,8.991000e+09,2.661000e+09,32000000.0,2.800000e+08,1.398000e+09,1.263000e+09,1.040000e+08,...,0.2526,0.0422,-0.2093,-0.0284,-0.0303,-0.2135,Basic Materials,-51.821641,0,2017
17848,AA,1.340300e+10,0.1503,1.008100e+10,3.322000e+09,31000000.0,2.480000e+08,1.603000e+09,1.719000e+09,1.220000e+08,...,0.2519,-0.0754,0.2323,0.2835,-0.0313,-0.1143,Basic Materials,-18.025913,0,2018
2489,AABA,NaN,NaN,NaN,3.230758e+09,NaN,NaN,3.087816e+09,1.429420e+08,0.000000e+00,...,0.0000,2.6720,0.2404,-0.0765,NaN,NaN,Financial Services,-33.705402,0,2014
6464,AABA,4.968000e+09,NaN,NaN,2.812000e+09,NaN,NaN,5.103235e+09,-2.070000e+08,-7.186500e+07,...,0.0000,-0.2674,0.0247,7.9141,NaN,NaN,Financial Services,23.152870,1,2015
10770,AABA,5.169000e+09,0.0405,NaN,2.392000e+09,NaN,NaN,5.364887e+09,-2.700000e+08,-7.378300e+07,...,0.0000,0.0637,2.1660,0.0539,NaN,NaN,Financial Services,79.562978,1,2016
15677,AABA,7.600000e+07,-0.9853,NaN,5.446000e+07,NaN,NaN,4.780900e+07,1.510000e+10,-7.004100e+07,...,0.0000,0.6888,-0.2466,0.0539,NaN,NaN,Financial Services,-20.771226,0,2017
17766,AABA,2.119900e+10,277.9342,NaN,3.328040e+08,NaN,NaN,8.079400e+07,-1.267800e+10,-1.784800e+08,...,0.0000,-0.4144,0.0574,0.0539,NaN,NaN,Financial Services,25.257522,1,2018
1459,AAL,4.265000e+10,0.5948,2.213600e+10,2.051400e+10,0.0,1.005200e+10,1.626500e+10,4.249000e+09,8.870000e+08,...,-0.0079,0.0224,1.3463,0.0548,0.0000,0.5189,Industrials,-20.768098,0,2014
5368,AAL,4.099000e+10,-0.0389,1.707900e+10,2.391100e+10,0.0,1.091800e+10,1.770700e+10,6.204000e+09,8.800000e+08,...,-0.1404,0.1201,2.1725,0.1603,0.0000,0.0862,Industrials,15.404948,1,2015
9607,AAL,4.014200e+10,-0.0207,1.592400e+10,2.421800e+10,0.0,1.229000e+10,1.915800e+10,5.060000e+09,9.910000e+08,...,0.2677,0.0591,-0.1829,0.1840,0.0000,0.1257,Industrials,13.344850,1,2016
14457,AAL,4.262200e+10,0.0618,1.763600e+10,2.498600e+10,0.0,1.343100e+10,2.075500e+10,4.231000e+09,1.053000e+09,...,0.2422,0.0295,-1.2231,0.0296,0.0000,0.0928,Industrials,-38.817936,0,2017
17914,AAL,4.454100e+10,0.0450,2.040000e+10,2.414100e+10,0.0,1.377100e+10,2.148500e+10,2.656000e+09,1.056000e+09,...,0.1199,0.1477,0.7748,0.3576,0.0000,0.0253,Industrials,-10.602069,0,2018